# npmrc for Windows
depth = 0
long = true
init-version = 0.1.0
init-author-name = PtCookie
init-author-email = me@ptcookie.net
init-author-url = https://devlog.ptcookie.net/
init-license = "MIT"
init-type = "module"
