* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "Symbols Nerd Font", FontAwesome, "JetBrains Mono",
        "Noto Sans CJK KR", sans-serif;
    font-size: 16px;
}

window#waybar {
    /* background-color: rgba(43, 48, 59, 0.5); */
    /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
    color: #5ce626;
    /* transition-property: background-color; */
    /* transition-duration: .5s; */
    background: rgba(29, 31, 33, 0.8);
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}

window#waybar.solo {
    background-color: #FFFFFF;
}
*/

tooltip {
    background: rgba(29, 31, 33, 0.5);
}

tooltip label {
    padding: 4px;
    font-size: 14px;
    color: #5ce626;
    background: transparent;
}

#workspaces button {
    padding: 4px 8px;
    /* background: rgba(29, 31, 33, 0.5); */
    color: #fff;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -2px transparent;
    /* Avoid rounded borders under each workspace name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -2px #5ce626;
}

#workspaces button.empty {
    color: #666;
}

#workspaces button.active {
    background: rgba(102, 102, 102, 0.2);
    color: #5ce626;
}

#workspaces button.focused {
    background-color: #64727d;
    box-shadow: inset 0 -2px #fff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#window,
#workspaces {
    margin: 0 4px;
}

#mode,
#cpu,
#memory,
#temperature,
#disk,
#network,
#wireplumber,
#clock,
#custom-launcher,
#custom-ibus,
#tray,
#keyboard-state {
    padding: 4px 8px;
    /* background: rgba(29, 31, 33, 0.5); */
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

label:focus {
    background-color: #000;
}

#custom-launcher {
    /* font-size: 24px; */
    transition: none;
    color: #58e1ff;
}

#mode {
    background-color: #64727d;
    box-shadow: inset 0 -2px #fff;
}

#cpu {
    box-shadow: inset 0 -2px #5ce626;
}

#memory {
    box-shadow: inset 0 -2px #f30100;
}

#temperature {
    box-shadow: inset 0 -2px #f0932b;
}

#temperature.critical {
    color: #eb4d4b;
}

#disk {
    box-shadow: inset 0 -2px #f0f;
}

#tray {
    box-shadow: inset 0 -2px #fff;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#custom-ibus {
    color: #fff;
    box-shadow: inset 0 -2px #81a2be;
}

#keyboard-state {
    color: #fff;
    box-shadow: inset 0 -2px #58e1ff;
    /* color: #000000; */
    /* min-width: 16px; */
}

#keyboard-state > label {
    /* padding: 0 10px; */
}

#keyboard-state > label.locked {
    /* background: rgba(0, 0, 0, 0.2); */
    color: #ff6347;
}

#network {
    box-shadow: inset 0 -2px #a4181c;
}

#network.disconnected {
    box-shadow: inset 0 -2px #f53c3c;
}

#wireplumber {
    color: #fff;
    box-shadow: inset 0 -2px #b294bb;
}

#wireplumber.muted {
    color: #969896;
    box-shadow: inset 0 -2px #70c0ba;
}

#mpris {
    color: #fff;
    box-shadow: inset 0 -2px #fff;
}

#mpris.paused {
    color: #969896;
    box-shadow: inset 0 -2px #969896;
}

#clock {
    color: #fff;
    box-shadow: inset 0 -2px #70c0ba;
}
