* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, "JetBrains Mono", "Noto Sans CJK KR", sans-serif;
    font-size: 12px;
}

window#waybar {
    /* background-color: rgba(43, 48, 59, 0.5); */
    /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
    color: #5ce626;
    /* transition-property: background-color; */
    /* transition-duration: .5s; */
    background: rgba(29, 31, 33, 0.5);
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

#workspaces button {
    padding: 0 5px;
    /* background: rgba(29, 31, 33, 0.5); */
    color: #ffffff;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each workspace name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.active {
    background: rgba(29, 31, 33, 1.0);
    color: #5ce626;
}

#workspaces button.focused {
    background-color: #64727d;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727d;
    border-bottom: 3px solid #ffffff;
}

#mode,
#clock,
#cpu,
#memory,
#temperature,
#network,
#wireplumber,
#custom-launcher,
#tray,
#keyboard-state {
    padding: 0 10px;
    color: #ffffff;
    /* background: rgba(29, 31, 33, 0.5); */
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

label:focus {
    background-color: #000000;
}

#custom-launcher {
	/* font-size: 24px; */
	transition: none;
  color: #1793d1;
}

#cpu {
    color: #2ecc71;
}

#memory {
    color: #9b59b6;
}

#temperature {
    color: #f0932b;
}

#temperature.critical {
    color: #eb4d4b;
}

#tray {
    /* background-color: #2980b9; */
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#custom-ibus {
    color: #ffffff;
}

#keyboard-state {
    /* background: #97e1ad; */
    /* color: #000000; */
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 10px;
}

#keyboard-state > label.locked {
    /* background: rgba(0, 0, 0, 0.2); */
    color: #ff6347;
}

#network {
    color: #2980b9;
}

#network.disconnected {
    color: #f53c3c;
}

#wireplumber {
    color: #f1c40f;
}

#wireplumber.muted {
    color: #969896;
}

#clock {
    color: #1793d1;
}

