window {
    margin: 0px;
    border-radius: 12px;
    background-color: #282a36;
}

#input {
    margin: 5px;
    border: none;
    color: #f8f8f2;
    background-color: #44475a;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #282a36;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: #282a36;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #f8f8f2;
} 

#entry {
    background-color: #282a36;
}

#entry:selected {
    background-color: #44475a;
}
