#window {
    border-radius: 12px;
    background: #24273a;
}

#outer-box {
    margin: 8px;
}

#input {
    margin: 4px;
    border: none;
    color: #cad3f5;
    background: #181926;
}

#scroll {
    margin: 4px 0;
}

#inner-box {
    margin: 4px;
}

#text {
    margin: 4px;
    color: #cad3f5;
}

#entry:selected {
    background: #181926;
}

#expander-box {
    background: #24273a;
}
